<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Sabre.SLDPRT">
  <link
    name="Sabre">
    <inertial>
      <origin
        xyz="0.37301 -3.05430000311002E-08 -0.5079214"
        rpy="0 0 0" />
      <mass
        value="0.60441" />
      <inertia
        ixx="0.00039461"
        ixy="1.05220000000779E-08"
        ixz="-0.0012726"
        iyy="0.056288"
        iyz="-6.02900000007164E-10"
        izz="0.056171" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Sabre/meshes/Sabre.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="package://Sabre/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Sabre/meshes/Sabre.STL" />
      </geometry>
    </collision>
  </link>
</robot>